<div id="blockChart" class="container-fluid">
    <div id="row0" class="row">
        <div class="col-sm-12">
            
        </div>
    </div>
    <div id="row1" class="row">
        <div id="slideValueDiv" class="col-sm-6" ng-controller="sliderController">
            <input ng-model="sliderValue" type="text" id="mySlider1" slider options=options />
        </div>
    </div>
    <div id="row2" class="row">
        <center>
            <div id="severityPieChartDiv" class="col-sm-6" ng-click="onSeverityPieChart($event)">
                <severity-pie-chart id="severityPieChart"></severity-pie-chart>
            </div>
            <div id="appBarChartDiv" class="col-sm-6" ng-click="onAppPieChart($event)">
                <app-bar-chart id="appBarChart"></app-bar-chart>
            </div>
        </center>
    </div>
    <div id="row3" class="row">
        <center>
            <div id="treemapChartDiv" class="col-sm-6">
                <treemap-chart id="treemapChart"></treemap-chart>
            </div>
        </center>
    </div>
</div>  